@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesion";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>
<div style="display:flex; justify-content:center; width:100%;">
    <section>
        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3 row" >

                <label asp-for="Input.Email" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10" style="margin-bottom:10px;">
                    <input asp-for="Input.Email" class="form-control" type="email" placeholder="nombre@hotmail.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <label asp-for="Input.Password" class="col-sm-2 col-form-label">Contraseña</label>
                <div class="col-sm-10">
                    <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group" style="display:flex; flex-wrap:wrap;">
                <div class="checkbox" style="margin-right:550px;">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)

                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Ingresar</button>
                </div>
            </div>
            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">¿Olvido Su Contraseña?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar Nuevo Usuario</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar Confirmacion De Email</a>
                </p>
            </div>
        </form>
    </section>
</div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
